<!DOCTYPE html>
<html>
<head>
    <title>
        DangerZone
    </title>
    <link rel = "stylesheet" href = "style.css">
</head>
<nav>
    <ul>
        DangerZone
        <li><a href="index.html">Home</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="add.html">Report</a></li>
        <li><a href="profile.html">Profile</a></li>
    </ul>
</nav>
<body>
    <style>
        h5 {text-align: center;}
    </style>
    <h1>
        <div class="wrapper">
            <h5>Los Angeles Crime Map</h5>
            <img class= "mapimg" src="img/map.jpg" alt="CrimeMapLA">
        </div>
    </h1>
</body>

</html>