<!DOCTYPE html>
<html>
<head>
    <title>
        DangerZone
    </title>
    <link rel = "stylesheet" href = "style.css">
</head>
<nav>
    <ul>
        DangerZone
        <li><a href="index.html">Home</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="add.html">Report</a></li>
        <li><a href="profile.html">Profile</a></li>
    </ul>
</nav>
<body>
    <link rel = "stylesheet" href = "style.css">
    <style>
        h5 {text-align: center;}
    </style>
        <h1>
            <div class="wrapper">
                <h5>User Profile</h5>
            </div>
        </h1>
        <div class = "container">
            <form action="" method="post">
                <div class="field input">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" autocomplete="off" required>
                </div>

                <div class="field input">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete="off" required>
                </div>

                <div class="field">
                    <input type="submit" class="btn" name="submit" value="Login" required>
                </div>
                <div class="links">
                    Don't have account? <a href="register.html">Sign Up Now</a>
                </div>
        </div>
    </form>
    </form>
</body>
