<!DOCTYPE html>
<html>
<head>
    <title>
        DangerZone
    </title>
    <link rel = "stylesheet" href = "style.css">
</head>
<nav>
    <ul>
        DangerZone
        <li><a href="index.html">Home</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="add.html">Report</a></li>
        <li><a href="profile.html">Profile</a></li>
    </ul>
</nav>
<body>
    <style>
        h5 {text-align: center;}
    </style>
    <h1>
        <div>
            <h5>Crime Lookup</h5>
        </div>
    </h1>
    <form method="post" action="process_search.php">
        <div>
            <div class = "crimesearch-box">
                <label for="crimecode">Crime:</label>
                <input type="text" id="crimecode_input" name="crimecode" placeholder="Enter Crime" autocomplete="off">
                <div class="crimevalid_results"></div>
            </div>
            <script src="autocomplete_crime.js"> </script>
        </div>
        <div>
            <div class = "weaponsearch-box">
                <label for="weaponcode">Weapon:</label>
                <input type="text" id="weaponcode_input" name="weaponcode" placeholder="Enter Weapon" autocomplete="off">
                <div class="weaponvalid_results">
            </div>
            <script src="autocomplete_weapon.js"> </script>
        </div>
        <div>
            <div class = "premissearch-box">
                <label for="premiscode">Location:</label>
                <input type="text" id="premiscode_input" name="premiscode" placeholder="Enter Area" autocomplete="off">
                <div class="premisvalid_results">
            </div>
            <script src="autocomplete_premis.js"> </script>
        </div>
        <button type="submit" name="submit">Search</button>
    </form>
</body>

</html>