<!DOCTYPE html>
<html>
<head>
    <title>
        DangerZone
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<nav>
    <ul>
        DangerZone
    </ul>
</nav>
<body>
    <style>
        h5 {text-align: center;}
    </style>
    <h1>
        <form action="/login" method="post">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </h1>
</body>

</html>