<!DOCTYPE html>
<html>
<head>
    <title>
        DangerZone
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<nav>
    <div style="width: 900px; margin:auto;"> 
    <ul>
      DangerZone
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("map") }}">Home</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("search") }}">Search</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("report") }}">Report</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("logout") }}">Log Out</a></li>
      {{username}}
    </ul>
  </div>
  </nav>
<body>
    <style>
        h5 {text-align: center;}
    </style>
        <h1>
            <div class="wrapper">
                <h5>User Profile</h5>
            </div>
        </h1>
        <div class = "container">
            <form action="" method="post">
                <div class="field input">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" autocomplete="off" required>
                </div>

                <div class="field input">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete="off" required>
                </div>

                <div class="field">
                    <input type="submit" class="btn" name="submit" value="Login" required>
                </div>
                <div class="links">
                    Don't have account? <a href="register.html">Sign Up Now</a>
                </div>
        </div>
    </form>
    </form>
</body>
