<!DOCTYPE html>
<html>
<head>
    <title>
        DangerZone
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<nav>
    <div style="width: 900px; margin:auto;"> 
    <ul>
      DangerZone
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("map") }}">Map</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("search") }}">Search</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("profile") }}">Profile</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("report") }}">Report</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("logout") }}">Log Out</a></li>
      {{username}}
    </ul>
  </div>
  </nav>
<body>
    <style>
        h5 {text-align: center;}
    </style>
        <h1>
            <div class="wrapper">
                <h5>Create Account</h5>
            </div>
        </h1>
        <h2>
        <div class = "container">
            <form action="" method="post">
                <form action="/login" method="post">
                    Username: <input type="text" name="username"><br>
                    Password: <input type="password" name="password"><br>
                    <input type="submit" value="Register">
                    <p> <h5 style="color: red;">{{message}} </h5> </p>
                </form>
        </div>
    </h2>
    </form>
    </form>
</body>
