<!DOCTYPE html>
<html>
<head>
    <title>
        DangerZone
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<nav>
    <div style="width: 900px; margin:auto;"> 
    <ul>
      DangerZone
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("map") }}">Map</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("search") }}">Search</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("profile") }}">Profile</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("report") }}">Report</a></li>
      <li class = "nav_li"><a class = "nav_li_a" href="{{ url_for("logout") }}">Log Out</a></li>
      {{username}}
    </ul>
  </div>
  </nav>
<body>
    <style>
        h5 {text-align: center;}
    </style>
        <h1>
            <div class="wrapper">
                <h4 class = "center">Create Account</h4>
                <h6 class = "center">Last updated: {{last_updated}}</h6>
            </div>
        </h1>
        <h2>
        <div class = "container">
            
            <form action="" method="post">
                <form action="/login" method="post">
                    Change Password<br>
                    Old Password: <input type="password" name="old_password"><br>
                    New Password: <input type="password" name="new_password"><br>
                    <input type="submit" value="Register">
                    <p> <h5 style="color: {{color}};">{{message}} </h5> </p>
                </form>
        </div>
    </h2>
    </form>
    </form>
</body>
